*{
  padding: 0;margin: 0;
}


.grid-item{
  width: 200px;
  height: 150px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  justify-content: start;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
  gap: 10px 10px;
}


@media (max-width:500px) {

  .grid-container{
    grid-template-columns: 200px 200px;
  }

}

@media (min-width:501px) and (max-width:900px) {

    .grid-container{
      grid-template-columns: 200px 200px 200px 200px;
    }
  
}

@media (min-width:901px) and (max-width:1400px) {

  .grid-container{
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
  }

}





